Package: com.yourcompany.qrmail
Name: qrmail
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Zac Gorak
Author: Zac Gorak
Section: Tweaks
